body{
    background-color: cornflowerblue;
}

.main-body{
    width: 50%;
    padding: 8% 0 0;
    margin: auto;
}

.vertical-center{
    position: relative;
    z-index: 1;
    background-color: white;
    max-width: 50%;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}


.submit-btn{
    margin: auto;
    width: 70%;
    background-color:cornflowerblue;
    border: 0;
    color: white;
    padding: 10px 20px 10px 20px;
}